@import 'common-css/common';
@import 'variable/variable';
@import 'heading/heading';
@import 'menu/menu';
@import 'banner/banner';
@import 'Featured Products/FeaturedProducts';
@import 'New-Product/New-Product';
@import 'Latest-Products/Latest-Products';
@import 'testimonial/Testimonial';
@import 'our blog/Our-Blog';
@import 'about-us/about-us';
@import 'about-counter/about-counter';
@import 'our-designer/our-designer';
@import 'our-patner/our-patner';
@import 'Contact-us-from/Contact-from';
@import 'product-details/product-details';
@import 'shopping-card/shopping-chart';
@import 'checkout/checkout';
@import 'footer/footer';
@import 'responsive/responsive';