/*=====================
Featured-Products start
=======================*/
.Featured-Products{
                    .heading-bg{
                        
                        h1{
                            font-size: 40px;
                            font-family: var(--ff2);
                            font-weight: 500;
                            color: #222222;
                            position: relative;
                            margin-bottom: 53px;
                            &::before{
                                content: '';
                                position: absolute;
                                bottom: -10px;
                                left: 36px;
                                width: 170px;
                                height: 1px;
                                background: var(--brand);
                            }
                            &::after{
                                content: '';
                                position: absolute;
                                bottom: -5px;
                                left: 36px;
                                width: 85px;
                                height: 1px;
                                background: var(--brand);
                            }
                        }
                    }

                    .product-select{
                        .nav-tabs{
                            border-bottom:none !important ;

                        }
                        .nav{
                            .nav-link{
                                border: none !important;
                                color: black;
                                font-size: 16px;
                                font-family: var(--ff2);
                                font-weight: 500;
                                position: relative;
                                &::before{
                                    content: '';
                                    position: absolute;
                                    bottom: 11px;
                                    left: 0px;
                                    width: 1px;
                                    height: 16px;
                                    background: black;
                                }
                                &:first-of-type::before{
                                    content: '';
                                    position: absolute;
                                    bottom: 0;
                                    left: 0px;
                                    width: 0px;
                                    height: 16px;
                                    background: black;
                                }

                                
                            }
                            .active{
                                border: none !important;
                                color: var(--brand) !important;
                            }
                        }

                        
                        .tab-content{
                            margin-top: 10px;
                            .selected-product{
                                .product-bg{
                                    position: relative;
                                    overflow: hidden;
                                   
                                    .details{
                                        margin-top: 12px;
                                          h2{
                                                 font-size: 16px;
                                                 font-family: var(--ff2);
                                                 font-weight: normal;

                                          }
                                          h3{
                                            font-size: 16px;
                                            font-family: var(--ff2);
                                            font-weight: normal;
                                          }
                                    }
                                    .rating{
                                          a{
                                              i{
                                                  color: var(--brand);
                                                  font-size: 16px;
                                              }
                                          }
                                    }
                                    .img{
                                        height: 350px;
                                        position: relative;
                                        cursor: pointer;
                                        &:hover .overlay{
                                            right: 0;
                                         }
                                        .overlay{
                                            transition: 0.4s;
                                            position: absolute;
                                            top: 0;
                                            right: -100px;
                                            width: 32%;
                                            height: 100%;
                                            background-color: rgba(0, 0, 0, 0.774);
                                               ul{
                                                   margin-top: 72px;
                                                   li{
                                                       height: 50px;
                                                       width: 50px;
                                                    border: 1px solid white;
                                                    border-radius: 100%;
                                                    margin-bottom: 30px;
                                                    text-align: center;
                                                    margin-left: 20px;
                                                    transition: 0.3s;
                                                    &:hover{
                                                        background-color: var(--brand);
                                                        border: 1px solid var(--brand);
                                                    }
                                                       i{
                                                           font-size: 26px;
                                                           text-align: center;
                                                            
                                                            line-height: 50px;
                                                           
                                                       }
                                                   }
                                               }
                                      
                                           
                                        }
                                          img{
                                             height: 100%;
                                             width: 100%;
                                          }
                                    }
                                }
                            }
                        }
                    }
}