/*===============
About css 
=================*/
.about-us{
    background: url(../imgs/about-us.png);
    height: 200px;
    margin-bottom: 100px;
    .about{
       background-color: rgba(0, 0, 0, 0.705);
       height: 100%;
       h2{
           font-size: 24px;
           font-family: var(--ff2);
           color: white;
           text-align: center;
           text-transform: uppercase;
           padding-top: 80px;
       }
       h3{
           font-size: 18px;
           font-family: var(--ff2);
           color: white;
           text-align: center;
           text-transform: capitalize;
           font-weight: 400;
           padding-bottom: 62px;
           span{
               color: var(--brand);
           }
       }

    }

}

.about-details{
    margin-bottom: 100px;
  .col-lg-12{
    .bg-img{
        position: relative;
     
        .p{
            background-color: rgb(0, 0, 0);
            padding-top: 65px;
            padding-bottom: 55px;
            position: absolute;
            top: 35px;
            right: 9%;
            width: 570px;
            p{
                font-size: 14px;
                font-family: var(--ff1);
                font-weight: normal;
                line-height: 24px;
                color: #dddddd;
                padding: 0px 30px;
                padding-bottom: 10px;
                
            }
    
        }
      
    }
  }

   .col-lg-5{
 
   }
   
}


/*===============
About End
=================*/