/*==========
product css START
==============*/
#glass {
    position: absolute;
    border-radius: 5% !important;
    display: none;
    background-repeat: no-repeat;
 
   background-color: transparent;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     }
.product{
    margin-bottom: 80px;
    .container{
        .row{
            /*===fancy =====*/
            .col-lg-5{
               .product-slider1{
                   .item1{
                       img{
                           width: 99%;
                           height: 548px;
                           cursor: pointer;
                        

                       }
                     
                   }
               }
               .product-slider2{
                   .item1{
                       img{
                           width: 95%;
                           cursor: pointer;
                        

                       }
                   }
               }
            }
            /*===fancy =====*/

            /*===about product start=====*/
            .col-lg-7{
                .product-details{
                    .form-check-input:checked {
                        background-color: #000;
                        border-color: #000;
                    }
                    .form-check{
                        margin-left: 0px !important;
                        padding-left: 0;
                        
                         .form-check-input {
                            float: left;
                            margin-left: 0em;
                        }
                        p{
                          
                        }
                        label{
                        
                        }
                        span{
                            padding-left: 59px;
                            padding-right: 5px;
                        }
                    }
                    .heading{
                        h2{
                           font-size: 20px;
                           font-family: var(--ff2);
                           font-weight: 500;
                           color: #222222;
                        }
                    }
                    .rating{
                        a{
                           i{
                               color: var(--brand);
                           }
                        }
                        p{
                            font-size: 16px;
                           font-family: var(--ff2);
                           font-weight: 500;
                           color: #222222;
                        }
                    }
                    .price-details{
                        h3{
                            font-size: 16px;
                            font-family: var(--ff2);
                            font-weight: 500;
                            color: #222222;
                        }
                        p{
                            font-size: 14px;
                            font-family: var(--ff1);
                            font-weight: 500;
                            color: #777777;
                            padding-top: 25px;
                            padding-right: 50px;
                        }
                    }
                    .product-size-color{
                              width: 200px;
                        p{
                            font-size: 16px;
                            font-family: var(--ff2);
                            font-weight: 500;
                            color: #222222;
                            width: 70px;
                            margin-bottom: 0;
                            line-height: 24px;
                          
                        }
                        .last{
                            line-height: 50px;
                        }

                        h4{
                            font-size: 14px;
                            font-family: var(--ff2);
                            font-weight: 400;
                            color: #444444;
                            margin-bottom: 0;
                            line-height: 24px;
                            padding-left: 20px;
                            i{
                                line-height: 24px;
                                padding-right: 7px;
                            }
                        }

                        .input{
                            line-height: 50px;
                            .input-group{
                                position: relative;
                                flex-direction: column;
                                width: 100px;
                                  margin-left: 5px;
                                height: 60px !important;
                              
                                .btn-minus{
                                    position: absolute;
                                    width: 25px !important;
                                    height: 25px;
                                    bottom: 11px;
                                    right: 10px;
                                    text-align: center;
                                    border-radius: 0px !important;
                                    border-top: 0px;
                                    padding: 0 !important;
                                    &:hover{
                                        background-color: var(--brand);
                                        strong{
                                            color: white;
                                        }
                                    }
                                    strong{
                                       font-size: 30px !important;
                                       line-height: 20px;

                                    }
     
                                 }
                                 .btn-plus{
                                     position: absolute;
                                     width: 25px !important;
                                     height: 25px;
                                     top: 0;
                                     right: 10px;
                                     text-align: center;
                                     border-radius: 0px !important;
                                     padding: 0 !important;
                                     &:hover{
                                        background-color: var(--brand);
                                        strong{
                                            color: white;
                                        }
                                    }
                                     strong{
                                        font-size: 30px !important;
                                        line-height: 20px;
 
                                     }
                                 }
                                 .form-control{
                                     position: absolute;
                                     left: 0;
                                     height: 49px;
                                     width: 51px;
                                     border: 1px solid black;
                                     border-right: 0px ;
                                 }
                            }
                        }
                    
                    }
                    .logo{
                        margin-top: 55px;
                        margin-bottom: 40px;
                        ul{
                            padding-left: 0px;
                            li{
                                height: 50px;
                                width: 50px;
                                text-align: center;
                                border: 1px solid black;
                                margin-right: 20px;
                                cursor: pointer;
                                &:hover{
                                    background-color: var(--brand);
                                    border: 1px solid var(--brand);
                                    a{
                                        color: white;
                                    }
                                }
                                a{
                                   color: black;
                                   transition: 0.4s;
                                   &:hover{
                                      color: white;
                                   }
                                   i{
                                       line-height: 50px;
                                       font-size: 26px;
                                   }
                                }
                            }
                        }
                    }
                    .pd-code{
                        ul{
                            padding-left: 0px;
                            li{
                                p{
                                    font-size: 16px;
                                    font-family: var(--ff2);
                                    font-weight: 500;
                                    color: #222222;
                                    width: 70px;
                                    margin-bottom: 0;
                                    line-height: 24px;
                                }
                                h3{
                                    font-size: 14px;
                            font-family: var(--ff2);
                            font-weight: 400;
                            color: #444444;
                            margin-bottom: 0;
                            line-height: 24px;
                            padding-left: 20px;
                                }
                            }
                        }
                    }
                    .social-icon{
                        margin-bottom: 40px;
                        margin-top: 44px;
                        h2{
                            font-size: 16px;
                            font-family: var(--ff2);
                            font-weight: 500;
                            color: #222222;
                            width: 70px;
                            margin-bottom: 0;
                            line-height: 24px;

                        }
                        ul{
                            padding-left: 0px;
                            margin-top: 22px;
                            li{
                                width: 40px;
                                height: 40px;
                                border: 1px solid black;
                                border-radius: 100px;
                                text-align: center;
                                margin-right: 10px;
                                cursor: pointer;
                                transition: 0.4s;
                                &:hover{
                                    background-color: var(--brand);
                                    border: 1px solid var(--brand);
                                    a{
                                        color: white;
                                    }
                                } 

                                a{
                                    color: black;
                                 i{
                                    line-height: 40px;
                                 }
                                }
                            }
                        }
                    }
                }
            }
              /*===about product End=====*/
        }


        /*===review-details start=====*/ 
        .row{
            .review-details{
                .nav{
                    border: transparent;
                    .nav-item{
                        border-right: 1x solid black !important;
                        
                         .nav-link{
                                  font-size: 20px;
                                  font-family: var(--ff2);
                                  font-weight: 500;
                                  color: black;
                                  
                                  text-align: left !important;
                                  padding-right: 15px;
                                  padding-left: 0px;
                                  padding-top: 0px;
                                  padding-bottom: 0px;
                         }
                         #home-tab{
                            border-right: 1x solid black !important;
                         }
                         #profile-tab{
                            padding-left: 15px;
                            
                         }
                         .active{
                           border-color :transparent;
                           color: var(--brand);
                         }
                    }
                }
                .tab-content{
                    margin-top: 35px;
                    #home{
                      p{
                        font-size: 14px;
                        font-family: var(--ff1);
                        font-weight: 400;
                        line-height: 24px;
                        color: #444444;
                        padding-right: 50px;
                     
                      }
                    }
                    #profile{
                        p{
                            font-size: 14px;
                        font-family: var(--ff1);
                        font-weight: 400;
                        line-height: 24px;
                        color: #444444;
                        padding-right: 50px;
                        }
                    }
                }
            }
        }
        /*===review-details start=====*/ 

    }
}

/*==========
product css START
==============*/
