/*===============
About counter
=================*/
.about-counter{
    background: url(../imgs/counter.png);
    padding: 20px 0;
    margin-bottom: 100px;
    .container-main{
        .counter-item{
            h2{
                text-align: center;
                color: white;
                font-family: var(--ff2);
                font-size: 40px;
                font-weight: normal;
            }
            p{
                text-align: center;
                color: white;
                font-family: var(--ff2);
                font-size: 16px;
                font-weight: normal;
            }
        }
    }
}

/*===============
About counter  END
=================*/