/*==========
variable css start
==============*/

:root{
    --ff1: 'Open Sans', sans-serif;
    --ff2: 'Raleway', sans-serif;
    --brand: #de4644;
    --heading-color: #444444;
    --hd-p-color: #222222;
    --footer-color: #353535;
    --footer-hd-color: #555555;
    --p-color: #666666;
}








/*==========
variable css end
==============*/
    
    


