/*==========
menu css start
==============*/

.menu{
   
     .navbar{
    
          i{
              color: #565656;
          }
          #bag{
            color: var(--brand);
            margin-left: 35px;
            span{
                font-family: var(--ff2);
                font-size: 16px;
                font-weight: normal;
                margin-left: 5px;
            }
          }
         .nav-item{
             .nav-link{
                line-height: 80px;
                font-family: var(--ff2);
                font-size: 16px;
                margin-right: 5px;
                position: relative;
                  p{
                      transition: 0.4s;
                      &:hover{
                          color: var(--brand);
                      }
                    &:hover::before {
                        width: 23px;
                    }
                    &:hover::after {
                        width: 13px;
                    }
                    &::before{
                        content: '';
                        position: absolute;
                        left: 8px;
                        top: 61px;
                        width: 0px;
                        height: 1px;
                        background-color: var(--brand);
                        transition: 0.4s;
                     
                    }
                    &::after{
                        content: '';
                        position: absolute;
                        left: 8px;
                        top: 64px;
                        width: 0px;
                        height: 1px;
                        background-color: var(--brand);
                        transition: 0.2s;
                    }
                  }
             }
         }

     }
 
 
}

/*==========
menu css END
==============*/